extends ../layout/default.pug
block append vars
    - var headerMenu = 1
    - var title = 'Блог'

block content
    section.blogs.s-pad
        .container
            .row.s-pad-bottom
                .col-12
                    h1.blogs__title Истории и наблюдения
                    .blogs__intro
                        p Задача организации, в особенности же постоянное
                            |информационное и <br>пропагандистское обеспечение
                .col-12
                    .blogs-authors
                        .blogs-authors__title Авторы колонок
                        .blogs-authors-items

                            .blogs-authors-item
                                .blogs-authors-item-img
                                    img(src="./img/Rustam.jpg", alt="").blogs-authors-item-img__photo
                                .blogs-authors-item-des
                                    span.blogs-authors-item-des__firstname Рустам
                                    span.blogs-authors-item-des__lastname Абдулин
                                    span.blogs-authors-item-des__position Арт-директор
                            .blogs-authors-item
                                .blogs-authors-item-img
                                    img(src="./img/Rustam.jpg", alt="").blogs-authors-item-img__photo
                                .blogs-authors-item-des
                                    span.blogs-authors-item-des__firstname Руслан
                                    span.blogs-authors-item-des__lastname Ахмадуллин
                                    span.blogs-authors-item-des__position Управляющий
                            .blogs-authors-item
                                .blogs-authors-item-img
                                    img(src="./img/Rustam.jpg", alt="").blogs-authors-item-img__photo
                                .blogs-authors-item-des
                                    span.blogs-authors-item-des__firstname Рамиль
                                    span.blogs-authors-item-des__lastname Ахмадуллин
                                    span.blogs-authors-item-des__position Редактор
                            .blogs-authors-item
                                .blogs-authors-item-img
                                    img(src="./img/Rustam.jpg", alt="").blogs-authors-item-img__photo
                                .blogs-authors-item-des
                                    span.blogs-authors-item-des__firstname Рамиль
                                    span.blogs-authors-item-des__lastname Ахмадуллин
                                    span.blogs-authors-item-des__position Редактор

            .row
                .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4
                    a(href="#").blog-item
                        .blog-photo
                            img(src="./img/blog-1.jpg").blog-photo__img
                        .blog-content
                            .blog-content__title Название очередной статьи в блоге студии размещенная для примера
                            .blog-content__subtitle Важная составляющая для проекта.
                            .blog-down
                                .blog-down__item
                                    svg.blog-down__icon
                                        use(xlink:href="./img/sprite.svg#icon-clock")
                                    span.blog-down__text 30 июля
                                .blog-down__item
                                    svg.blog-down__icon
                                        use(xlink:href="./img/sprite.svg#icon-edit")
                                    span.blog-down__text О дизайне
                                .blog-down__item
                                    svg.blog-down__icon
                                        use(xlink:href="./img/sprite.svg#icon-user")
                                    span.blog-down__text Руслан А.

                .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4
                    a(href="#").blog-item--no-color.blog-item
                        .blog-photo
                            img(src="./img/blog-2.jpg").blog-photo__img
                        .blog-content
                            .blog-content__title Название очередной статьи в блоге студии размещенная для примера
                            .blog-content__subtitle Важная составляющая для проекта.
                            .blog-down
                                .blog-down__item
                                    svg.blog-down__icon
                                        use(xlink:href="./img/sprite.svg#icon-clock")
                                    span.blog-down__text 30 июля
                                .blog-down__item
                                    svg.blog-down__icon
                                        use(xlink:href="./img/sprite.svg#icon-edit")
                                    span.blog-down__text О дизайне
                                .blog-down__item
                                    svg.blog-down__icon
                                        use(xlink:href="./img/sprite.svg#icon-user")
                                    span.blog-down__text Руслан А.

                .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4
                    a(href="#").blog-item--font-black.blog-item
                        .blog-photo
                            img(src="./img/blog-3.jpg").blog-photo__img
                        .blog-content
                            .blog-content__title Название очередной статьи в блоге студии размещенная для примера
                            .blog-content__subtitle Важная составляющая для проекта.
                            .blog-down
                                .blog-down__item
                                    svg.blog-down__icon
                                        use(xlink:href="./img/sprite.svg#icon-clock")
                                    span.blog-down__text 30 июля
                                .blog-down__item
                                    svg.blog-down__icon
                                        use(xlink:href="./img/sprite.svg#icon-edit")
                                    span.blog-down__text О дизайне
                                .blog-down__item
                                    svg.blog-down__icon
                                        use(xlink:href="./img/sprite.svg#icon-user")
                                    span.blog-down__text Руслан А.

                .col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4
                    a(href="#").blog-item
                        .blog-photo
                            img(src="./img/blog-5.jpg").blog-photo__img
                        .blog-content
                            .blog-content__title Название очередной статьи в блоге студии размещенная для примера
                            .blog-content__subtitle Важная составляющая для проекта.
                            .blog-down
                                .blog-down__item
                                    svg.blog-down__icon
                                        use(xlink:href="./img/sprite.svg#icon-clock")
                                    span.blog-down__text 30 июля
                                .blog-down__item
                                    svg.blog-down__icon
                                        use(xlink:href="./img/sprite.svg#icon-edit")
                                    span.blog-down__text О дизайне
                                .blog-down__item
                                    svg.blog-down__icon
                                        use(xlink:href="./img/sprite.svg#icon-user")
                                    span.blog-down__text Руслан А.

                .col-12.col-sm-12.col-md-12.col-lg-8.col-xl-8
                    a(href="#").blog-item-full
                        .blog-item-full-photo
                            img(src="./img/blog-4.jpg").blog-item-full-photo__img
                        .blog-item-full-content
                            .blog-item-full-content__title Название очередной статьи в блоге студии размещенная для примера
                            .blog-item-full-content__subtitle Важная составляющая для проекта.
                            .blog-down-full
                                .blog-down-full__item
                                    svg.blog-down-full__icon
                                        use(xlink:href="./img/sprite.svg#icon-clock")
                                    span.blog-down-full__text 30 июля
                                .blog-down-full__item
                                    svg.blog-down-full__icon
                                        use(xlink:href="./img/sprite.svg#icon-edit")
                                    span.blog-down-full__text О дизайне
                                .blog-down-full__item
                                    svg.blog-down-full__icon
                                        use(xlink:href="./img/sprite.svg#icon-user")
                                    span.blog-down-full__text Руслан А.

