extends ../layout/default.pug
block append vars
    - var headerMenu = 0
    - var title = 'Главная'

block header-content
    .header-content
        .header-idx-slider.swiper-container
            .swiper-wrapper
                .swiper-slide(style="background-image: url(./img/slide.jpg)")
                    .overlay-bg
                    .container-content
                        .container.slide-content-item
                            .row.full-height
                                .col
                                    .slide-content
                                        h1.slide-content-title Branding,<br> Design,<br> SMM
                                        .slide-content-des
                                            .slide-content-des-text
                                                p  Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                                                    | несколько абзацев более менее осмысленного текста
                                            a(href="javascript:;" data-fancybox data-src="videoSlide").slide-content-des-play
                                                span.slide-content-des-play__btn Воспроизвести
                                                svg.slide-content-des-icon
                                                    use(xlink:href="./img/sprite.svg#icon-play")
                .swiper-slide(style="background-image: url(./img/slide.jpg)")
                    .container-content
                        .container.slide-content-item
                            .row.full-height
                                .col
                                    .slide-content
                                        h1.slide-content-title Branding,<br> Design,<br> SMM
                                        .slide-content-des
                                            .slide-content-des-text
                                                p  Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                                                    | несколько абзацев более менее осмысленного текста
                                            a(href="javascript:;" data-fancybox data-src="videoSlide").slide-content-des-play
                                                span.slide-content-des-play__btn Воспроизвести
                                                svg.slide-content-des-icon
                                                    use(xlink:href="./img/sprite.svg#icon-play")

            .container.container-navigation
                .swiper-pagination
                .swiper-button-next
                    svg.swiper-button-next__icon
                        use(xlink:href="./img/sprite.svg#icon-circle-riight")

block content
    section.s-pad.s-bg.our-speciality
        .container
            .row
                .col-12
                    h2.s-title.our-speciality-title Наша специализация
                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                    .main-content
                        h2.main-content-title Визуальная коммуникация
                        p.main-content-text Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении.
                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                    .main-content
                        h2.main-content-title Продвижение, SMM
                        p.main-content-text В особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении. 
            .row
                .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                    a(href="#").speciality-block
                        .speciality-img
                            img(src="./img/branding.svg", alt="").speciality-img__icon
                        .speciality-des
                            h3.speciality-des__title Дизайн и брендинг
                            span.speciality-des__text Важная составляющая для любого бизнеса
                .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                    a(href="#").speciality-block
                        .speciality-img
                            img(src="./img/sites.svg", alt="").speciality-img__icon
                        .speciality-des
                            h3.speciality-des__title Разработка сайтов, приложений
                            span.speciality-des__text Важная составляющая для любого бизнеса
                .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                    a(href="#").speciality-block
                        .speciality-img
                            img(src="./img/analytics.svg", alt="").speciality-img__icon
                        .speciality-des
                            h3.speciality-des__title Аналитика
                            span.speciality-des__text Важная составляющая для любого бизнеса
                .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                    a(href="#").speciality-block
                        .speciality-img
                            img(src="./img/context.svg", alt="").speciality-img__icon
                        .speciality-des
                            h3.speciality-des__title Контекстная реклама и SMM
                            span.speciality-des__text Важная составляющая для любого бизнеса
                .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                    a(href="#").speciality-block
                        .speciality-img
                            img(src="./img/video.svg", alt="").speciality-img__icon
                        .speciality-des
                            h3.speciality-des__title Видеосъемка
                            span.speciality-des__text Важная составляющая для любого бизнеса
                .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4
                    a(href="#").speciality-block
                        .speciality-img
                            img(src="./img/marketing.svg", alt="").speciality-img__icon
                        .speciality-des
                            h3.speciality-des__title Комплексный маркетинг
                            span.speciality-des__text Важная составляющая для любого бизнеса

    section.s-pad-bottom.s-bg.team
        .container
            .row
                .col-12
                    h2.s-title.team-title Команда
                .col-12
                    .row
                        .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                            .team-human
                                .team-human-item
                                    .team-human-img
                                        img(src="./img/Rustam.jpg", alt="").team-human-img__photo
                                    .team-human-des
                                        span.team-human-des__firstname Рустам
                                        span.team-human-des__lastname Абдулин
                                        span.team-human-des__position Арт-директор
                                .team-human-item
                                    .team-human-img
                                        img(src="./img/Rustam.jpg", alt="").team-human-img__photo
                                    .team-human-des
                                        span.team-human-des__firstname Рустам
                                        span.team-human-des__lastname Абдулин
                                        span.team-human-des__position Арт-директор
                                .team-human-item
                                    .team-human-img
                                        img(src="./img/Rustam.jpg", alt="").team-human-img__photo
                                    .team-human-des
                                        span.team-human-des__firstname Рустам
                                        span.team-human-des__lastname Абдулин
                                        span.team-human-des__position Арт-директор
                                .team-human-item
                                    .team-human-img
                                        img(src="./img/Rustam.jpg", alt="").team-human-img__photo
                                    .team-human-des
                                        span.team-human-des__firstname Рустам
                                        span.team-human-des__lastname Абдулин
                                        span.team-human-des__position Арт-директор
                        .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                            .team-more
                                .team-more__content
                                    p Каждый разработанный нами продукт не только решает
                                        |задачи бизнеса и целевой аудитории. Мы создаем
                                        |продукты, в которые люди влюбляются
                                .team-more__btn--wrap
                                    a(href="#").blue__btn Подробно
                                        svg.blue-icon
                                            use(xlink:href="./img/sprite.svg#icon-right")
    
    section.s-pad.our-project
        .container
            .row
                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                    a(href="#" style="background-image: url('../img/project-1.jpg')").project-main-view.project-main-view--bg
                        h3.project-main-view__name Вектор Финанс
                        .project-main-view-des
                            p.project-main-view-des__develop Брендинг для федеральной бухгалтерской компании
                            .project-main-view-small
                                span.project-main-view-small__date Февраль, 2018
                                span.project-main-view-small__tags Брендинг, сайт, маркетинг

                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6 
                    .project-veiw-items
                        a(href="#" style="background: #00B7F4").project-view
                            h3.project-view__name Тортунио
                            .project-view-des
                                p.project-view-des__develop Разработка упаковки для <br> кондитерской
                                .project-view-small
                                    span.project-view-small__date Февраль, 2018
                                    span.project-view-small__tags Брендинг, сайт, маркетинг
                        a(href="#" style="background-image: url('../img/project-2.jpg')").project-view.project-view--bg.project-view--border
                            h3.project-view__name.project-view__name--color British Petroleum
                            .project-view-des
                                p.project-view-des__develop.project-view-des__develop--color Брендинг для федеральной бухгалтерской компании
                                .project-view-small
                                    span.project-view-small__datespan.project-view-small__date--color Февраль, 2018
                                    span.project-view-small__tags.project-view-small__tags--color Брендинг, сайт, маркетинг
            
            .row.s-pad
                .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
                    .our-experience
                        .our-experience-item
                            span.our-experience-item__number 4
                            .our-experience-item__text Года работы
                        .our-experience-item
                            span.our-experience-item__number 98
                            .our-experience-item__text Проектов
                        .our-experience-item
                            span.our-experience-item__number 47
                            span.our-experience-item__text Клиентов
                .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
                    .our-experience-content
                        p Работаем на качество. Каждый разработанный нами продукт 
                            |не только решает задачи бизнеса и целевой аудитории. 
                            |Мы создаем продукты, в которые люди влюбляются
            .row
                .col-12
                    .our-experience-btn
                        a(href="#").blue__btn Больше работ
                            svg.blue-icon
                                use(xlink:href="./img/sprite.svg#icon-right")
    
    section.s-pad.s-bg-dark.clients
        .container
            .row
                .col-12
                    h2.s-title-white.clients-title Клиенты
                .col-12
                    .clients-items
                        .row
                            .col-6.col-sm-6.col-md-4.col-lg-2.col-xl-2.col-clients
                                a(href="#").clients-item
                                    img(src="./img/sibur.png", alt="").clients-item__img
                            .col-6.col-sm-6.col-md-4.col-lg-2.col-xl-2.col-clients
                                a(href="#").clients-item
                                    img(src="./img/rosatom.png", alt="").clients-item__img
                            .col-6.col-sm-6.col-md-4.col-lg-2.col-xl-2.col-clients
                                a(href="#").clients-item
                                    img(src="./img/sibur.png", alt="").clients-item__img
                            .col-6.col-sm-6.col-md-4.col-lg-2.col-xl-2.col-clients
                                a(href="#").clients-item
                                    img(src="./img/rosatom.png", alt="").clients-item__img
                            .col-6.col-sm-6.col-md-4.col-lg-2.col-xl-2.col-clients
                                a(href="#").clients-item
                                    img(src="./img/sibur.png", alt="").clients-item__img
                            .col-6.col-sm-6.col-md-4.col-lg-2.col-xl-2.col-clients
                                a(href="#").clients-item
                                    img(src="./img/rosatom.png", alt="").clients-item__img
                            .col-6.col-sm-6.col-md-4.col-lg-2.col-xl-2.col-clients
                                a(href="#").clients-item
                                    img(src="./img/sibur.png", alt="").clients-item__img
                            .col-6.col-sm-6.col-md-4.col-lg-2.col-xl-2.col-clients
                                a(href="#").clients-item
                                    img(src="./img/rosatom.png", alt="").clients-item__img
                            .col-6.col-sm-6.col-md-4.col-lg-2.col-xl-2.col-clients
                                a(href="#").clients-item
                                    img(src="./img/sibur.png", alt="").clients-item__img
                            .col-6.col-sm-6.col-md-4.col-lg-2.col-xl-2.col-clients
                                a(href="#").clients-item
                                    img(src="./img/rosatom.png", alt="").clients-item__img
                            .col-6.col-sm-6.col-md-4.col-lg-2.col-xl-2.col-clients
                                a(href="#").clients-item
                                    img(src="./img/sibur.png", alt="").clients-item__img
                            .col-6.col-sm-6.col-md-4.col-lg-2.col-xl-2.col-clients
                                a(href="#").clients-item
                                    img(src="./img/rosatom.png", alt="").clients-item__img

    section.s-pad.s-bg-dark.reviews
        .container-fluid.no-offset
            .row.no-offset
                .col-12.no-offset
                    .reviews-slider.swiper-container
                        .reviews-wrapper.swiper-wrapper
                            .reviews-slide.swiper-slide
                                .reviews-img-block
                                    .reviews-img-wrap
                                        img(src="./img/Rustam.jpg", alt="").reviews-img
                                .reviews-des
                                    .reviews-main-des
                                        span.reviews-main-des__title Рустам Абдуллин
                                        span.reviews-main-des__position Руководитель АО НК Башнефть
                                    p.reviews-des__text  «Разнообразный и богатый опыт укрепление 
                                        |и развитие структуры представляет собой интересный эксперимент 
                                        |проверки системы обучения кадров, соответствует насущным 
                                        |потребностям. С другой стороны укрепление и развитие структуры 
                                        |требуют от нас анализа новых предложений.»
                            .reviews-slide.swiper-slide
                                .reviews-img-block
                                    .reviews-img-wrap
                                        img(src="./img/Rustam.jpg", alt="").reviews-img
                                .reviews-des
                                    .reviews-main-des
                                        span.reviews-main-des__title Рустам Абдуллин
                                        span.reviews-main-des__position Руководитель АО НК Башнефть
                                    p.reviews-des__text  «Разнообразный и богатый опыт укрепление 
                                        |и развитие структуры представляет собой интересный эксперимент 
                                        |проверки системы обучения кадров, соответствует насущным 
                                        |потребностям. С другой стороны укрепление и развитие структуры 
                                        |требуют от нас анализа новых предложений.»
                            .reviews-slide.swiper-slide
                                .reviews-img-block
                                    .reviews-img-wrap
                                        img(src="./img/Rustam.jpg", alt="").reviews-img
                                .reviews-des
                                    .reviews-main-des
                                        span.reviews-main-des__title Рустам Абдуллин
                                        span.reviews-main-des__position Руководитель АО НК Башнефть
                                    p.reviews-des__text  «Разнообразный и богатый опыт укрепление 
                                        |и развитие структуры представляет собой интересный эксперимент 
                                        |проверки системы обучения кадров, соответствует насущным 
                                        |потребностям. С другой стороны укрепление и развитие структуры 
                                        |требуют от нас анализа новых предложений.»
                        .reviews-pagination.swiper-pagination