extends ../layout/default.pug
block append vars
    - var headerMenu = 1
    - var title = 'Работы'

block content
    section.about-works.s-pad
        .container
            .row.s-pad-bottom
                .col-sm-12.col-md-6
                    h1.about-works__title Портфолио
                    .about-works__intro
                        p Задача организации, в особенности же постоянное
                            |информационное и пропагандистское обеспечение
                .col-sm-12.col-md-6
                    .about-works-exp
                        .about-works-exp-item
                            span.about-works-exp-item__number 4
                            .about-works-exp-item__text Года работы
                        .about-works-exp-item
                            span.about-works-exp-item__number 98
                            .about-works-exp-item__text Проектов
                        .about-works-exp-item
                            span.about-works-exp-item__number 47
                            span.about-works-exp-item__text Клиентов

                    .about-works-exp-btn
                        a(href="#").blue__btn Больше работ
                            svg.blue-icon
                                use(xlink:href="./img/sprite.svg#icon-right")
            .row
                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                    a(href="#" style="background-image: url('../img/project-1.jpg')").project-main-view.project-main-view--bg
                        h3.project-main-view__name Вектор Финанс
                        .project-main-view-des
                            p.project-main-view-des__develop Брендинг для федеральной бухгалтерской компании
                            .project-main-view-small
                                span.project-main-view-small__date Февраль, 2018
                                span.project-main-view-small__tags Брендинг, сайт, маркетинг

                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                    .project-veiw-items
                        a(href="#" style="background: #00B7F4").project-view
                            h3.project-view__name Тортунио
                            .project-view-des
                                p.project-view-des__develop Разработка упаковки для <br> кондитерской
                                .project-view-small
                                    span.project-view-small__date Февраль, 2018
                                    span.project-view-small__tags Брендинг, сайт, маркетинг
                        a(href="#" style="background-image: url('../img/project-2.jpg')").project-view.project-view--bg.project-view--border
                            h3.project-view__name.project-view__name--color British Petroleum
                            .project-view-des
                                p.project-view-des__develop.project-view-des__develop--color Брендинг для федеральной бухгалтерской компании
                                .project-view-small
                                    span.project-view-small__datespan.project-view-small__date--color Февраль, 2018
                                    span.project-view-small__tags.project-view-small__tags--color Брендинг, сайт, маркетинг

                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                    a(href="#" style="background-image: url('../img/project-2.jpg')").project-view.project-view--bg.project-view--border.project-view--pad
                        h3.project-view__name.project-view__name--color British Petroleum
                        .project-view-des
                            p.project-view-des__develop.project-view-des__develop--color Брендинг для федеральной бухгалтерской компании
                            .project-view-small
                                span.project-view-small__datespan.project-view-small__date--color Февраль, 2018
                                span.project-view-small__tags.project-view-small__tags--color Брендинг, сайт, маркетинг


                .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                        a(href="#" style="background: #00B7F4").project-view.project-view--pad
                            h3.project-view__name Тортунио
                            .project-view-des
                                p.project-view-des__develop Разработка упаковки для <br> кондитерской
                                .project-view-small
                                    span.project-view-small__date Февраль, 2018
                                    span.project-view-small__tags Брендинг, сайт, маркетинг
