extends ../layout/default.pug
block append vars
    - var headerMenu = 1
    - var title = 'Услуги'

block content
    section.servies.s-pad
        .container
            .row.s-pad-bottom
                .col-12
                    h1.servies__title Основные направления
                    .servies__intro
                        p Задача организации, в особенности же постоянное информационное и <br>пропагандистское обеспечение.

                .col-12
                    .serives-bg
                        img(src="./img/contacts.jpg" alt="Контактная информация").serives-bg__img

            .row
                .col-12.col-sm-12.col-lg-4.col-xl-4
                    .servies-item
                        a(href="#").servies-item-header
                            .servies-img
                                img(src="./img/branding.svg", alt="").servies-img__icon
                            .servies-des
                                h3.servies-des__title Дизайн и брендинг
                                span.servies-des__text Важная составляющая для любого бизнеса

                        nav.servies-m
                            li.servies-m__item
                                a(href="#").servies-m__link Разработка логотипов
                            li.servies-m__item
                                a(href="#").servies-m__link Фирменный стиль
                            li.servies-m__item
                                a(href="#").servies-m__link Корпоративная полиграфия
                            li.servies-m__item
                                a(href="#").servies-m__link Рекламные материалы
                            li.servies-m__item
                                a(href="#").servies-m__link Полиграфия
                            li.servies-m__item
                                a(href="#").servies-m__link Этикетка
                            li.servies-m__item
                                a(href="#").servies-m__link Упаковка
                            li.servies-m__item
                                a(href="#").servies-m__link Каталог
                            li.servies-m__item
                                a(href="#").servies-m__link Коммерческое предложение
                            li.servies-m__item
                                a(href="#").servies-m__link Презентации
                            li.servies-m__item
                                a(href="#").servies-m__link Разработка интерфейсов
                            li.servies-m__item
                                a(href="#").servies-m__link Дизайн сайтов
                            li.servies-m__item
                                a(href="#").servies-m__link Дизайн приложений
                            li.servies-m__item
                                a(href="#").servies-m__link POSM (POS материалы)

                .col-12.col-sm-12.col-lg-4.col-xl-4
                    .servies-item
                        a(href="#").servies-item-header
                            .servies-img
                                img(src="./img/sites.svg", alt="").servies-img__icon
                            .servies-des
                                h3.servies-des__title Разработка сайтов, приложений
                                span.servies-des__text Важная составляющая для любого бизнеса

                        nav.servies-m
                            li.servies-m__item
                                a(href="#").servies-m__link Разработка логотипов
                            li.servies-m__item
                                a(href="#").servies-m__link Фирменный стиль
                            li.servies-m__item
                                a(href="#").servies-m__link Корпоративная полиграфия
                            li.servies-m__item
                                a(href="#").servies-m__link Рекламные материалы

                    .servies-item
                        a(href="#").servies-item-header
                            .servies-img
                                img(src="./img/analytics.svg", alt="").servies-img__icon
                            .servies-des
                                h3.servies-des__title Аналитика
                                span.servies-des__text Важная составляющая для любого бизнеса

                        nav.servies-m
                            li.servies-m__item
                                a(href="#").servies-m__link Разработка логотипов
                            li.servies-m__item
                                a(href="#").servies-m__link Фирменный стиль
                            li.servies-m__item
                                a(href="#").servies-m__link Корпоративная полиграфия
                            li.servies-m__item
                                a(href="#").servies-m__link Рекламные материалы

                    .servies-item
                        a(href="#").servies-item-header
                            .servies-img
                                img(src="./img/context.svg", alt="").servies-img__icon
                            .servies-des
                                h3.servies-des__title Комплексные решения
                                span.servies-des__text Важная составляющая для любого бизнеса


                .col-12.col-sm-12.col-lg-4.col-xl-4
                    .servies-item
                        a(href="#").servies-item-header
                            .servies-img
                                img(src="./img/branding.svg", alt="").servies-img__icon
                            .servies-des
                                h3.servies-des__title Комплексный маркетинг
                                span.servies-des__text Важная составляющая для любого бизнеса

                        nav.servies-m
                            li.servies-m__item
                                a(href="#").servies-m__link Разработка логотипов
                            li.servies-m__item
                                a(href="#").servies-m__link Фирменный стиль
                            li.servies-m__item
                                a(href="#").servies-m__link Корпоративная полиграфия


                    .servies-item
                        a(href="#").servies-item-header
                            .servies-img
                                img(src="./img/branding.svg", alt="").servies-img__icon
                            .servies-des
                                h3.servies-des__title Контекстная реклама
                                span.servies-des__text Важная составляющая для любого бизнеса

                        nav.servies-m
                            li.servies-m__item
                                a(href="#").servies-m__link Разработка логотипов
                            li.servies-m__item
                                a(href="#").servies-m__link Фирменный стиль
                            li.servies-m__item
                                a(href="#").servies-m__link Корпоративная полиграфия

                    .servies-item
                        a(href="#").servies-item-header
                            .servies-img
                                img(src="./img/video.svg", alt="").servies-img__icon
                            .servies-des
                                h3.servies-des__title Видеосъемка
                                span.servies-des__text Важная составляющая для любого бизнеса
