extends ../layout/default.pug
block append vars
    - var headerMenu = 1
    - var title = 'Услуга Услуги'

block content
    section.first-sec
        .first-sec-bg(style="background-image: url(./img/bg-servies-h.png);")
            .container.h-100
                .row.h-100
                    .col-12.h-100
                        .first-sec-wrap
                            .first-sec-wrap__top
                                .breadcrumbs
                                    a(href="#").breadcrumbs__link Услуги
                                    span.breadcrumbs__separator /
                                    a(href="#").breadcrumbs__link Дизайн и брендинг
                            .first-sec-content
                                h1.first-sec-content__title Корпоротивная <br>полиграфия
                                p.first-sec-content__intro Задача организации, в особенности же постоянное информационной и <br> пропагандистской обеспечение нашей информационно пропагандистское <br> обеспечение нашей.
                                a(href="#").first-sec-content__call Начать проект
    section.s-pad.servies-main
        .container
            .row
                .col-12.col-sm-12.col-md-12.col-lg-9.col-xl-9.order-2.order-lg-1
                    section.servies-p
                        h2.s-title Второй текстовый заголовок
                        .servies-p__content
                            p Текущие счета и депозиты развернули нашу работу по выпуску кредитных карт. Основой привлечения клиентов тоже стал интернет. Это позволило существенно сократить расходы на привлечение, ведь почта каждый год повышала тарифы, не особо спрашивая контрагентов.
                            p Шел взрывной рост интернет-охвата. Россия вышла на первое место в Европе по количеству пользователей. В стране быстро развивались скоростные линии связи. Мы смогли запрыгнуть на эту лошадь, как только она поскакала.
                            p Работа через интернет ускорила взаимодействие. Если на почтовое сообщение клиент отвечал неделями, то в онлайне процесс сжался на порядок. Другими словами, мы могли наращивать портфель — и получать прибыль — гораздо быстрее. Это позволило на протяжении трех лет удваивать бизнес не только в рублевом эквиваленте, но и в количестве заемщиков.
                            p Мы видели огромные темпы роста в потребительском кредитовании. Анализируя работу конкурентов, обратили внимание: у многих портфели растут, а число клиентов стагнирует.
                            p Тогда мы предположили, что наш подход стратегически более правильный: расти за счет новых людей, а не путем закредитования существующей базы. Мы старательно использовали подход Low and Grow, выдавая маленькие лимиты на старте. Если человек показывал себя дисциплинированным заемщиком, ему осторожно повышали кредитный лимит. При этом средний лимит по кредитной карте во время бума у нас составлял всего 30 тысяч рублей. Это соответствовало одной месячной зарплате.
                            p  Текущие счета и депозиты развернули нашу работу по выпуску кредитных карт.
                                |Основой привлечения клиентов тоже стал интернет. Это позволило существенно сократить расходы на привлечение,
                                |ведь почта каждый год повышала тарифы, не особо спрашивая контрагентов.
                        .servies-go-project
                            form.start-form
                                h3.start-form-title Контактные данные
                                .start-form-group-line
                                    fieldset.start-form-group#animateGroup
                                        label(for="name").start-form-group__label Ваше имя*
                                        input(type="text", name="name").start-form-group__input
                                    fieldset.start-form-group
                                        label(for="name-company").start-form-group__label Название компании
                                        input(type="text", name="name-company").start-form-group__input
                                .start-form-group-line
                                    fieldset.start-form-group
                                        label(for="phone").start-form-group__label Телефон*
                                        input(type="text", name="phone").start-form-group__input
                                    fieldset.start-form-group
                                        label(for="email").start-form-group__label Электронная почта
                                        input(type="text", name="email").start-form-group__input
                                .start-form-about
                                    span.start-form-about-title О проекте
                                    fieldset.start-form-group
                                        label(for="about-project").start-form-group__label Краткое описание проекта
                                        input(type="text", name="about-project").start-form-group__input
                                    fieldset.files-up
                                        span.file Прикрепить файлы
                                        span.file-text например изображения или документы при необходимости

                                button(type="submit").start-form-submit Отправить
                                .conf-and-polytics
                                    | Нажимая на кнопку, вы даете согласие на 
                                    a(href="#") обработку персональных данных
                                    | и соглашаетесь с 
                                    a(href="#") политикой конфиденциальности.
                        .servies-work-theme
                            h2.s-title.s-title--top Работы по данной теме
                            .project-veiw-items.project-veiw-items--row
                                a(href="#" style="background: #00B7F4").project-view.project-view--row
                                    h3.project-view__name Тортунио
                                    .project-view-des
                                        p.project-view-des__develop Разработка упаковки для <br> кондитерской
                                        .project-view-small
                                            span.project-view-small__date Февраль, 2018
                                            span.project-view-small__tags Брендинг, сайт, маркетинг
                                a(href="#" style="background-image: url('../img/project-2.jpg')").project-view.project-view--row.project-view--bg.project-view--border
                                    h3.project-view__name.project-view__name--color British Petroleum
                                    .project-view-des
                                        p.project-view-des__develop.project-view-des__develop--color Брендинг для федеральной бухгалтерской компании
                                        .project-view-small
                                            span.project-view-small__datespan.project-view-small__date--color Февраль, 2018
                                            span.project-view-small__tags.project-view-small__tags--color Брендинг, сайт, маркетинг

                aside.col-12.col-sm-12.col-md-12.col-lg-3.col-xl-3.order-1.order-lg-2
                    ul.servies-menu
                        li.servies-menu__item.servies-menu__item--active
                            a(href="#").servies-menu__link Дизайн и брендинг
                            ul.servies-submenu
                                li.servies-submenu__item
                                    a(href="#").servies-submenu__link Разработка логотипов
                                li.servies-submenu__item
                                    a(href="#").servies-submenu__link Фирменный стиль
                                li.servies-submenu__item.servies-submenu__item--active
                                    a(href="#").servies-submenu__link Корпоративная полиграфия
                                li.servies-submenu__item
                                    a(href="#").servies-submenu__link Рекламные материалы
                                li.servies-submenu__item
                                    a(href="#").servies-submenu__link Полиграфия
                                li.servies-submenu__item
                                    a(href="#").servies-submenu__link Дизайн и брендинг
                        li.servies-menu__item
                            a(href="#").servies-menu__link Разработка сайтов,<br> приложений
                            ul.servies-submenu
                                li.servies-submenu__item
                                    a(href="#").servies-submenu__link Разработка логотипов
                                li.servies-submenu__item
                                    a(href="#").servies-submenu__link Фирменный стиль
                                li.servies-submenu__item.servies-submenu__item--active
                                    a(href="#").servies-submenu__link Корпоративная полиграфия
                                li.servies-submenu__item
                                    a(href="#").servies-submenu__link Рекламные материалы
                                li.servies-submenu__item
                                    a(href="#").servies-submenu__link Полиграфия
                                li.servies-submenu__item
                                    a(href="#").servies-submenu__link Дизайн и брендинг
                        li.servies-menu__item
                            a(href="#").servies-menu__link Аналитика
                        li.servies-menu__item
                            a(href="#").servies-menu__link Контекстная реклама<br> и SMM
                        li.servies-menu__item
                            a(href="#").servies-menu__link Видеосъемка
                        li.servies-menu__item
                            a(href="#").servies-menu__link Комплексный маркетинг




