default-text =  'OpenSansSemiBold'

font1 = 'HundaiSansHeadBold'
font2 = 'VagWorldBold'
font3 = 'OpenSansRegular'
font4 = 'OpenSansLight'
font5 = 'OpenSansExtraBold'
font6 = 'OpenSansItalic'
font7 = 'OpenSansBold'

def-color =#fff
def-black = #000000
def-gray = #999999


